@import "./base.css";

#page * {
  white-space: nowrap;
}

#page div {
  overflow: visible;
}

#page a {
  color: #224499;
  text-decoration: underline;
  cursor: pointer;
}

#page video,
#page audio {
  left: 50%;
  width: 600px;
  margin-left: -300px;
}

#page iframe,
#page app-dictation {
  left: 50%;
  width: 800px;
  margin-left: -400px;
}
